<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Tortoise{% endblock %}</title>
        <link href="{% static 'css/tortoise.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'js/tortoise.js' %}"></script>
    </body>
</html>
