<li class="{% if node.dead_end %}dead-end{% else %}live{% endif %}">
    {{ node.name }}
    <a href="{% url 'admin:tree_node_change' node.pk %}">&equiv;</a>
    <a href="{% url 'tree_node_toggle' node.pk %}">&harr;</a>
    {% with node.children as children %}
    {% if children %}
    <ul>
        {% for node in children %}
        {% include 'tree/blocks/node.html' %}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</li>
