{% extends 'base.html' %}
{% block title %}{{ scenario.name }}{% endblock %}

{% block content %}
<h1><a href="{% url 'admin:tree_scenario_change' scenario.pk %}">{{ scenario.name }}</a></h1>
<ul>
    {% for node in scenario.children %}
    {% include 'tree/blocks/node.html' %}
    {% endfor %}
</ul>
<p><a href="{% url 'tree_scenarios' %}">All scenarios</a></p>
{% endblock %}
