{% extends 'base.html' %}
{% block title %}Scenarios{% endblock %}

{% block content %}
<h1>Scenarios</h1>
<ul>
    {% for scenario in scenarios %}
    <li><a href="{% url 'tree_scenario' scenario.pk %}">{{ scenario.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
